/* car list */
.carItem{
    background-color:#494949;
    margin-top: 10px;
    color: white;
    padding: 0!important;
    border-top-left-radius : 5px;
    border-top-right-radius : 5px;
    cursor: pointer;
    max-width: 32% !important;
    margin-left: 1%;
}
.carItem:hover{
     box-shadow: 8px 8px 20px #aaa;
    margin-top: -3px;
}

.carItem:hover img{
    opacity: 0.8;
 }

.carItemTitle{
    background-color: #ad0c33;
    padding: 0;
    text-align: center;
    margin: 0;
    padding: 10px;
    border-top-left-radius : 5px;
    border-top-right-radius : 5px;
    font-weight: bold;
}

.carInfomation{
    padding: 10px;
}

/*configuration css*/
#carPriceDiv{
    background: #ad0c33;
    padding: 0px;
    margin-top: 10px;
    position: fixed;
    top: 35vh;
    width: 15vw;
    left: 85vw;
    color: white;
}

.carPicture{
    padding: 0px !important;
}

.carPicture img{
    width: 100%;
}

.carOption {
    border : 1px solid black;
}

.carOption div{
    border-right : 1px solid black;
    cursor: pointer;
    padding-top: 15px;
}

.carOption div p{
    font-weight: bold;
}

.carOption div:hover{
    background-color: green;
    color: white;
}


/*componant*/
.component{
    background-color: antiquewhite;
    padding: 0 !important;
    margin-top:10px;
}

#submitButton{
    padding-bottom: 10px;
    padding-top: 10px;
    top: 60vh;
    background: red;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.componentTitle{
    background-color: brown;
    color: white
}

.componentTitle{
    text-align: center;
    font-weight: bold;
}

/* motorisation */

.motorisation{
    margin-top: 20px;
}

.boiteVitesse, .transmission{
   border-left:1px solid black;
}

.titleItem{
    font-weight: bold;
    text-decoration: underline;
}