<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">


<h:head>
	<meta charset="UTF-8" />
	<title>Details</title>
	<link rel="stylesheet" href="./style.css" />
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
	<script src="../bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="./app.js"></script>
</h:head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand" href="#">RENO</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item active"><h:link value="NOS VOITURES" styleClass="nav-link" outcome="voitures"></h:link></li>
				<li class="nav-item active"><h:link value="CONFIGURATION"
						styleClass="nav-link" outcome="index"></h:link></li>
			</ul>
		</div>
	</nav>


	<section class="container detailsSection">

		<ui:repeat value="#{gestDetails.config}"
			var="conf">

		<div class="row carCard">
			<div class="col-lg-5">
				<h:graphicImage styleClass="img-fluid" value = "#{conf.url}"/>
			</div>
			<div class="carDescription offset-lg-3 col-lg-4">
				<h3 class="col-lg-12 text-lg-center"><h:outputText value="#{conf.modele.marque} #{conf.modele.type}"/></h3>
				<div class="col-lg-12">
					<!-- <p class="col-lg-12">Prix : <h:outputText value="#{conf.couleur.nom}"/>€</p> -->
					<p class="col-lg-12">Motorisation : <h:outputText value="#{conf.modele.motorisation.moteur}"/></p>
					<p class="col-lg-12">Boite de vitesse : <h:outputText value="#{conf.modele.motorisation.boitedevitesse.type}"/></p>
					<p class="col-lg-12">Carburant : <h:outputText value="#{conf.modele.motorisation.carburant.nom}"/></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h4>Description</h4>
				<div class="row itemDescriptionRow">
					<div class="col-lg-6">
						<p class="caracItem col-lg-12">Marque</p>
						<p class="caracItemValue col-lg-12"> <h:outputText value="#{conf.modele.marque}"/> </p>
					</div>
					<div class="col-lg-6">
						<p class="caracItem col-lg-12">Modèle</p>
						<p class="caracItemValue col-lg-12"> <h:outputText value="#{conf.modele.type}"/> </p>
					</div>
				</div>
				<div class="row itemDescriptionRow">
					<div class="col-lg-6">
						<p class="caracItem col-lg-12">Motorisation</p>
						<p class="caracItemValue col-lg-12"> <h:outputText value="#{conf.modele.motorisation.moteur}"/> </p>
					</div>
					<div class="col-lg-6">
						<p class="caracItem col-lg-12">Boite de vitesse</p>
						<p class="caracItemValue col-lg-12"> <h:outputText value="#{conf.modele.motorisation.boitedevitesse.type}"/> </p>
					</div>
				</div>
				<div class="row itemDescriptionRow">
					<div class="col-lg-6">
						<p class="caracItem col-lg-12">Transmission</p>
						<p class="caracItemValue col-lg-12"> <h:outputText value="#{conf.modele.motorisation.transmission.type}"/> </p>
					</div>
					<div class="col-lg-6">
						<p class="caracItem col-lg-12">Carburant</p>
						<p class="caracItemValue col-lg-12"> <h:outputText value="#{conf.modele.motorisation.carburant.nom}"/> </p>
					</div>
				</div>
				<div class="row itemDescriptionRow">
					<div class="col-lg-6">
						<p class="caracItem col-lg-12">Jantes</p>
						<p class="caracItemValue col-lg-12"> <h:outputText value="#{conf.jante.type}"/> </p>
					</div>
					<div class="col-lg-6">
						<p class="caracItem col-lg-12">Finitions</p>
						<p class="caracItemValue col-lg-12"> <h:outputText value="#{conf.modele.finition.type}"/> </p>
					</div>
				</div>
				<div class="row itemDescriptionRow">
					<!-- <div class="col-lg-6">
						<p class="caracItem col-lg-12">Boite de vitesse</p>
						<p class="caracItemValue col-lg-12"><h:outputText value="#{conf.modele.motorisation.boitedevitesse.type}"/> </p>
					</div> -->
					<div class="col-lg-6">
						<p class="caracItem col-lg-12">Couleur</p>
						<!-- <p class="caracItemValue col-lg-12"><h:outputText value="#{conf.couleur.nom}"/></p> -->
						<p style="background-color: #{conf.couleur.hexa};" class="colorHexa col-lg-3"><h:outputText value="#{conf.couleur.nom}"/></p>
					</div>
				</div>
			</div>
		</div>
		</ui:repeat>

	</section>


</body>
</html>
