<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">


<h:head>
	<meta charset="UTF-8" />
	<title>Configuration</title>
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
	<script src="../bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="./app.js"></script>
	<link rel="stylesheet" href="./style.css" />
</h:head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand" href="#">RENO</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item active"><h:link value="NOS VOITURES" styleClass="nav-link" outcome="voitures"></h:link></li>
				<li class="nav-item active"><h:link value="CONFIGURATION" styleClass="nav-link" outcome="index"></h:link></li>
			</ul>
		</div>
	</nav>


	<section class="">
		<div class="carPicture col-lg-12">
			<h:graphicImage alt="photo voiture"
				value="http://www.audi.fr/content/dam/nemo/models/q8/q8/my-2019/1920-stage/1920x600_Stage_AQ8_181004.jpg" />
		</div>
		<p id="carPriceDiv">PRIX : 0€</p>
		<div class="carOption row">
			<div id="configurationButton" class="col-lg-4">
				<p class="text-lg-center">Configuration</p>
			</div>
			<div id="modeleButton" class="col-lg-4">
				<p class="text-lg-center">Modèle</p>
			</div>
			<div id="motorisationButton" class="col-lg-4">
				<p class="text-lg-center">Motorisation</p>
			</div>
		</div>


		<form id="carForm" method="POST" action="#">

			<div id="motorisationDiv" class="row">

				<div class="moteur col-lg-3">
					<p class="titleItem text-lg-center">Moteur</p>
					<ui:repeat value="#{gestMotorisation.motorisationTemplate}"
						var="moteur">
						<div class="col-lg-10 offset-lg-1 component">
							<p class="componentTitle">
								<h:outputText value="#{moteur.moteur}" />
							</p>
							<div class="row">
								<div class="col-lg-8">
									<!--  <p class="col-lg-12">
										Type :
										<h:outputText value="#{moteur.moteur}" />
									</p> -->
									<p class="col-lg-12">
										<b>Prix : </b>
										<h:outputText value="#{moteur.prix}" />€
									</p>
								</div>
								<div class="col-lg-4">
									<input prix="#{moteur.prix}" type="radio" name="motorisation" value="#" />
								</div>
							</div>
						</div>
					</ui:repeat>
				</div>


				<div class="carburant col-lg-3">
					<p class="titleItem text-lg-center">Carburant</p>


					<ui:repeat value="#{gestCarburant.carburantTemplate}"
						var="carburant">
						<div class="col-lg-10 offset-lg-1 component">
							<p class="componentTitle">
								<h:outputText value="#{carburant.nom}" />
							</p>
							<div class="row">
								<div class="col-lg-8">
									<!--  <p class="col-lg-12">
										Type :
										<h:outputText value="#{carburant.nom}" />
									</p> -->
									<p class="col-lg-12">
										<b>Prix : </b>
										<h:outputText value="#{carburant.prix}" />€
									</p>
								</div>
								<div class="col-lg-4">
									<input prix="#{carburant.prix}" type="radio" name="carburant" value="#" />
								</div>
							</div>
						</div>
					</ui:repeat>
				</div>
				<div class="boiteVitesse col-lg-3">
					<p class="titleItem text-lg-center">Boite de vitesse</p>

					<ui:repeat value="#{gestBoitedevitesse.boitedevitesseTemplate}"
						var="bdv">
						<div class="col-lg-10 offset-lg-1 component">
							<p class="componentTitle">
								<h:outputText value="#{bdv.type}" />
							</p>
							<div class="row">
								<div class="col-lg-8">
									<!--  <p class="col-lg-12">
										Type :
										<h:outputText value="#{bdv.type}" />
									</p> -->
									<p class="col-lg-12">
										<b>Prix : </b>
										<h:outputText value="#{bdv.prix}" /> €
									</p>
								</div>
								<div class="col-lg-4">
									<input  prix="#{bdv.prix}" type="radio" name="boitedevitesse" value="#" />
								</div>
							</div>
						</div>
					</ui:repeat>

				</div>

				<div class="transmission col-lg-3">
					<p class="titleItem text-lg-center">Transmission</p>

					<ui:repeat value="#{gestTransmission.transmissionTemplate}"
						var="transmission">
						<div class="col-lg-10 offset-lg-1 component">
							<p class="componentTitle">
								<h:outputText value="#{transmission.type}" />
							</p>
							<div class="row">
								<div class="col-lg-8">
									<!-- <p class="col-lg-12">
										Type :
										<h:outputText value="#{transmission.type}" />
									</p> -->
									<p class="col-lg-12">
										<b>Prix : </b>
										<h:outputText value="#{transmission.prix}" />€
									</p>
								</div>
								<div class="col-lg-4">
									<input prix="#{transmission.prix}" type="radio" name="transmission" value="#" />
								</div>
							</div>
						</div>
					</ui:repeat>
				</div>

			</div>

			<div id="modeleDiv" class="row">

				<div class="modele col-lg-6">
					<p class="titleItem text-lg-center">Modele</p>

					<ui:repeat value="#{gestModele.modeleTemplate}" var="modele">
						<div class="col-lg-10 offset-lg-1 component">
							<p class="componentTitle">
								<h:outputText value="#{modele.marque} #{modele.type}" />
							</p>
							<div class="row">
								<div class="col-lg-8">
									<!-- <p class="col-lg-12">
										<b>Marque : </b>
										<h:outputText value="#{modele.marque}" />
									</p>-->
									<p class="col-lg-12">
										<b>Prix de base : </b>
										<h:outputText value="#{modele.prixbase}" />€
									</p>
									<!-- <p class="col-lg-12">
										Type :
										<h:outputText value="#{modele.type}" />
									</p> -->

								</div>
								<div class="col-lg-4">
									<input prix="#{modele.prixbase}" type="radio" name="modele" value="#" />
								</div>
							</div>
						</div>
					</ui:repeat>

				</div>

				<div class="finitions col-lg-6">
					<p class="titleItem text-lg-center">Finitions</p>

					<ui:repeat value="#{gestFinition.finitionTemplate}" var="finition">
						<div class="col-lg-10 offset-lg-1 component">
							<p class="componentTitle">
								<h:outputText value="#{finition.type}" />
							</p>
							<div class="row">
								<div class="col-lg-8">
									<!-- p class="col-lg-12">
										Type :
										<h:outputText value="#{finition.type}" />
									</p>-->
									<p class="col-lg-12">
										<b>Prix : </b>
										<h:outputText value="#{finition.prix}" />€
									</p>
								</div>
								<div class="col-lg-4">
									<input prix="#{finition.prix}" type="radio" name="finition" value="#" />
								</div>
							</div>
						</div>
					</ui:repeat>

				</div>

				<!-- <div class="transmission col-lg-3">
					<p class="titleItem text-lg-center">Options supplémentaires</p>
				</div> -->

			</div>

			<div id="configurationDiv" class="row">

				<div class="couleurs col-lg-6">
					<p class="titleItem text-lg-center">Couleur</p>

					<ui:repeat value="#{gestCouleur.couleurTemplate}" var="couleur">
						<div class="col-lg-10 offset-lg-1 component">
							<p class="componentTitle">
								<h:outputText value="#{couleur.nom}" />
							</p>
							<div class="row">
								<div class="col-lg-8">
									<!-- <p class="col-lg-12">
										Hexa :
										<h:outputText value="#{couleur.hexa}" />
									</p>
									<p class="col-lg-12">
										Nom :
										<h:outputText value="#{couleur.nom}" />
									</p> -->
									<p class="col-lg-12">
										<b>Prix : </b>
										1000€
									</p>
								</div>
								<div class="col-lg-4">
									<input prix="1000" type="radio" name="couleur" value="#" />
								</div>
							</div>
						</div>
					</ui:repeat>

				</div>

				<div class="jantes col-lg-6">
					<p class="titleItem text-lg-center">Jantes</p>

					<ui:repeat value="#{gestJante.janteTemplate}" var="jante">
						<div class="col-lg-10 offset-lg-1 component">
							<p class="componentTitle">
								<h:outputText value="#{jante.type}" />
							</p>
							<div class="row">
								<div class="col-lg-8">
									<!--  <p class="col-lg-12">
										Type :
										<h:outputText value="#{jante.type}" />
									</p> -->
									<p class="col-lg-12">
										<b>Prix : </b>
										<h:outputText value="#{jante.prix}" />€
									</p>
								</div>
								<div class="col-lg-4">
									<input prix="#{jante.prix}" type="radio" name="jante" value="#" />
								</div>
							</div>
						</div>
					</ui:repeat>

				</div>

			</div>
			
			<!-- <input id="submitButton" type="submit" value"ENVOYER"/> -->

		</form>
	</section>


</body>
</html>
