<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<meta charset="UTF-8" />
	<title>Title of the document</title>
	<link rel="stylesheet" href="./style.css" />
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
	<script src="../bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="./app.js"></script>
</h:head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand" href="#">PROJET SR03</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link" href="#">NOS
						VOITURES <span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item active"><h:link value="CONFIGURATION" styleClass="nav-link" outcome="configuration"></h:link></li>
			</ul>
		</div>
	</nav>
</body>
</html>

