body {
	font-family: "Helvetica";
}

nav {
	background-color: #152034 !important;
	color: white !important;
}

section {
	background-color: #F5F5F5;
}

a {
	text-decoration: none;
	color: white !important;
}

a:hover {
	text-decoration: none !important;
}

.nav-link, .navbar-brand {
	color: white !important;
	font-weight: bold;
}
/* car list */
.carItem {
	background-color: #494949;
	margin-top: 10px;
	color: white;
	padding: 0 !important;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	cursor: pointer;
	max-width: 32% !important;
	margin-left: 1%;
}

.carItem:hover {
	box-shadow: 8px 8px 20px #aaa;
	margin-top: -3px;
}

.carItem:hover img {
	opacity: 0.8;
}

.carItemTitle {
	background-color: #152034;
	padding: 0;
	text-align: center;
	margin: 0;
	padding: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-weight: bold;
}

.carInfomation {
	padding: 10px;
}

/*carCard*/
.carCard {
	margin-top: 50px;
}

.carDescription {
	background-color: #F5F5F5;
	padding: 0 !important;
	color: black;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 8px 8px 15px #aaa;
}

.carDescription h3 {
	background-color: #66ADEC;
	padding-bottom: 8px;
	padding-top: 8px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: white;
}

.carListItem {
	padding: 0 !important;
}

.caracItem {
	font-size: 22px;
	font-weight: bold;
}

.caracItemValue {
	margin-top: -2vh;
	font-weight: bold;
}

.itemDescriptionRow {
	margin-top: 15px;
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #ad0c33;
	color: white;
	border-radius: 5px;
	background-color: #152034;
}

.colorHexa {
	
}

/*configuration css*/
#carPriceDiv {
	background: #ad0c33;
	padding: 0px;
	margin-top: 10px;
	position: fixed;
	top: 35vh;
	width: 15vw;
	left: 85vw;
	color: white;
	z-index: 9999;
	padding: 12px;
	font-weight: bold;
}

.carPicture {
	padding: 0px !important;
}

.carPicture img {
	width: 100%;
}

.carOption {
	border: 1px solid black;
}

.carOption div {
	border-right: 1px solid black;
	cursor: pointer;
	padding-top: 15px;
	background-color: #152034;
	color: white;
	font-size: 20px;
}

.carOption div p {
	font-weight: bold;
}

.carOption div:hover {
	background-color: #66ADEC;
	color: white;
}

/*componant*/
.component {
	background-color: white;
	padding: 0 !important;
	margin-top: 10px;
}

#submitButton {
	padding-bottom: 10px;
	padding-top: 10px;
	top: 60vh;
	background: red;
	border: none;
	padding-left: 20px;
	padding-right: 20px;
	position: absolute;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.componentTitle {
	color: white;
	text-align: center;
	font-weight: bold;
	padding: 7px;
	background-color: #66ADEC;
}

/* motorisation */
#motorisationDiv, #modeleDiv, #configurationDiv {
	margin-top: 20px;
}

.boiteVitesse, .transmission, .carburant, .finitions, .jantes {
	border-left: 1px solid #152034;
}

.titleItem {
	font-weight: bold;
	color: #152034;
	font-size: 20px;
}

/*configuration*/
#configurationDiv {
	display: none;
}

/*modele*/
#modeleDiv {
	display: none;
}

.voitures {
	margin-top: 10px;
	background-color: white;
}

.detailsSection {
	background-color: white;
}