<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title><h:outputText value="Reno" /></title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="./bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="./bootstrap/js/bootstrap.min.js" />
	<link rel="stylesheet" type="text/css" href="./style.css" />
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="./app.js"></script>
</h:head>

<h:body>

            <ui:insert name="menu">
                <ui:include src="menu.xhtml" />
            </ui:insert>

            <ui:insert name="content">
                <p>CONTENT</p>
            </ui:insert>
</h:body>
</html>
