<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">


<h:head>
	<meta charset="UTF-8" />
	<title>Nos Voitures</title>
	<link rel="stylesheet" href="./style.css" />
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
	<script src="../bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="./app.js"></script>
</h:head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand" href="#">RENO</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item active"><h:link value="NOS VOITURES" styleClass="nav-link" outcome="voitures"></h:link></li>
				<li class="nav-item active"><h:link value="CONFIGURATION"
						styleClass="nav-link" outcome="index"></h:link></li>
			</ul>
		</div>
	</nav>


	<section class="container">

		<div class="voitures row">


				<ui:repeat value="#{gestConfiguration.configurationTemplate}"
					var="config">
					<a class="carItem col-lg-4" href="details.xhtml?id=#{config.idconfiguration}">
						<p class="carItemTitle">
							<h:outputText value="#{config.modele.marque} #{config.modele.type}" />
						</p>
						<img class="col-lg-12 carPicture img-fluid"
							src="#{config.url}"
							alt="voiture" />
						<div class="row carInfomation">
							<p class="col-lg-12">
								<b> Motorisation : </b>
								<h:outputText value="#{config.modele.motorisation.moteur}" />
							</p>
							<p class="col-lg-12">
								<b>Boite de vitesse : </b>
								<h:outputText value="#{config.modele.motorisation.boitedevitesse.type}" />
							</p>
							<p class="col-lg-12">
								<b>Carburant : </b>
								<h:outputText
									value="#{config.modele.motorisation.carburant.nom}" />
							</p>
						</div>
					</a>
				</ui:repeat>
		</div>

	</section>

</body>
</html>
